---
name: Lint Code Base

on: [pull_request]

jobs:
  check:
    name: Run check
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      - name: Lint code
        uses: ConsenSys/doctools.action-builder/actions/tests/lint@main
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

